.headerBlock{
    background: #D3C3F4;
    height: 80px;
    left: 0px;
    top: 0px;

}
.logoCompany{
    width: 198px;
    height: 62px;
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.searchInput{
    width: 350px;
    height: 25px;
    margin-left: 250px;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: -80px;
}
.btn{
    background-color: #7937CE;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: white;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -80px;
}
.Profile{
    margin-left: 1365px;
    vertical-align: middle;
    margin-top: -125px;
}

.navBar{
    margin-left: 55px;
    display: inline-block;
    color: #7937CE;
    width: 20%;
    height: 900px;
    border-right: 5px solid #D3C3F4;
    
}
.productsBlock{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    width: 70%;
    text-align: center;
}
.productItem:hover{
    box-shadow: 0px 4px 5px 5px rgba(144, 44, 222, 0.25);
}
.titleProducts{
    width: 100%;
    text-align: center;
    font-family: 'Courgette', cursive;
}
.productItem{
    background-color: #E9E9E9;
    position: absolute;
    display: inline-block;
    position: static;
    width: 195px;
    height: 210px;
    border-radius: 5px;
}
.productImg{
    width: 165px;
    height: 150px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}
.productText{
    text-align: center;
    font-size: 12px;
    color: black;
    margin-top: -2px;
}
.btnBuy{
    width: 65px;
    margin-left: 8px;
    margin-right: 162px;
    color: white;
    background-color: #7937CE;
    border-radius: 5px;
    font-size: 12px;
    border: none;
}
.ProductPrice{
    position: absolute;
    font-size: 15px;
    color: #0EAA1E;
    margin-left: 90px;
    margin-top: -1px;
}
.productBasket{
    margin-left: 149px;
    margin-top: -15px;
}
main{
    display: flex;
}